.footer__column-link {
  margin: 20px 0 16px 0;
  padding: 0;
  line-height: 30px; /*высота строки*/
  font-size: 18px; /*размер шрифта*/
  font-weight: normal; /*начертание шрифта*/
  color: white;
  text-decoration: none;
  transition: opacity 0.4s linear;
}

.footer__column-link:hover {
  opacity: 0.4;
}