.cards__description {
  margin: 0 0;
  margin-top: 16px;
  line-height: 23px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта*/
  text-align: center;
}