.feynman__subtitle {
  margin: 70px auto 0;
  line-height: 51px; /*высота строки*/
  font-size: 36px; /*размер шрифта*/
  font-weight: normal; /*начертание шрифта*/
  text-align: center;
  z-index: 2;
}