.header__title {
  margin: 0;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  justify-self: center;/*центрирование по горизонтали (работает только с flex)*/
  align-self: center; /*центрирование по вертикали*/
  z-index: 2;
}